


/* Emnpiece de show */
input[id^="spoiler"]{
  display: none;
 }
   input[id^="spoiler"] + label {
     display: block;
     width: 200px;
     margin: 0 auto;
     padding: 5px 20px;
     background: #e1a;
     color: #fff;
     text-align: center;
     font-size: 24px;
     border-radius: 8px;
     cursor: pointer;
     transition: all .6s;
   }
    
   input[id^="spoiler"]:checked + label { 
     color: #333;
     background: #ccc;
   }
   input[id^="spoiler"] ~ .spoiler {
     width: 90%;
     height: 0;
     overflow: hidden;
     opacity: 0;
     margin: 10px auto 0; 
     padding: 10px; 
     border: 1px solid #ccc;
     border-radius: 8px;
     transition: all .6s;
   }
   input[id^="spoiler"]:checked + label + .spoiler{
     height: auto;
     opacity: 1;
     padding: 10px;
   }
   

  /* Emnpiece de show 2 code */
  input[id^="spoiler1"]{
    display: none;
   }
   input[id^="spoiler1"] + label {
     display: block;
     width: 200px;
     margin: 0 auto;
     padding: 5px 20px;
     background: #e1a;
     color: #fff;
     text-align: center;
     font-size: 24px;
     border-radius: 8px;
     cursor: pointer;
     transition: all .6s;
   }
    
   input[id^="spoiler1"]:checked + label { 
     color: #333;
     background: #ccc;
   }
   input[id^="spoiler1"] ~ .spoiler1 {
     width: 90%;
     height: 0;
     overflow: hidden;
     opacity: 0;
     margin: 10px auto 0; 
     padding: 10px; 
     border: 1px solid #ccc;
     border-radius: 8px;
     transition: all .6s;
   }
   input[id^="spoiler1"]:checked + label + .spoiler1{
     height: auto;
     opacity: 1;
     padding: 10px;
   }
